body{
    font-family: poppins;

}
.bg{
    background-image:url(hot-gadgets/bg-2.png);
    background-repeat: no-repeat;
    margin-top: 700px;
}
.des{
    padding: 20px 20px;
    padding-bottom: 200px;
}
.carousel-item p{
    color: #707070;
}
.button{
    background-color: black;
    color: #FFFFFF;
    border-radius: 9px;
    width: 179px;
    height: 57px;
}